<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>person</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<br>
<span th:unless="${books}">The person have not taken any books yet</span>
<hr>
<span th:if="${books}">
    <h4>List of books: </h4>
<div th:each="book : ${books}">
       <h5 th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>
</div>
</span>
<br>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
</form>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
<br>
<br>
<a href="/people">Back to people</a>
</body>
</html>