<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search books</title>
</head>
<body>


<form th:action="@{/books/search}" th:method="post">
    <label for="line">Enter line for searching: </label>
    <br>
    <input type="text" name="line" id="line"/>
    <br>
    <br>
    <input type="submit" value="Search"/>
</form>
<br>
<br>
<a href="/books">Back to books</a>
<br>

    <span th:if="${booksFound}">

        <hr>

    <div th:each="book : ${booksFound}">
     <a th:href="@{/books/{id}(id=${book.getId()})}"
        th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>

      <span th:if="${owner}" >
         <h4 th:text="${'the book belongs to ' + owner.getFullName()}">owner</h4>
      </span>

      <span th:unless="${owner}" >
           <h4>the book is available</h4>
      </span>
    </div>
    </span>


   <span th:if="${booksFound.size()==0}">
       <h4>The book is not found</h4>
   </span>

</body>
</html>